* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

nav {
    overflow: hidden;
    background-color: #112938;
    height: 10vh;
}

nav a {
    float: left;
    color: #cc4b0f;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 10vh;
    line-height: 6vh;
}

nav a:hover {
    background-color: #cc4b0f;
    color: #112938;
}

main {
    color: #112938;
    padding: 10px;
    height: 80vh;
}

footer {
    color: #fff;
    background-color: #112938;
    text-align: center;
    height: 10vh;
    line-height: 10vh
}